# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d726575b226ee69384ccb62620f6af6ce43a504447bede7eeaa6070a653aef2021f84c0d9720da3567d6a260c927df82fbff07ae2542cfd9fea7fd293f09ddc7

test:
  secret_key_base: 8dc71a2a179737df4f134e2f2bb67ee20113f87747c82683db992d04ee98c7155330cff6c2c1a2c1d0315a276749c7e591d1ab2a2a352ba226d0fc4389f0c475

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
